*  {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/****** COLORS *****/
.border-input {
    border: 1px solid #ced4da;
}

.border-error {
   border: 1px solid #e74c3c;
}

.text-dark-grey {
    color: #111827;
}

.text-light-grey {
    color: #374151;
}

.text-red {
    color: #e74c3c;
}

/**** FONT *****/
.font-medium {
    font-weight: 600;
}

.fs-36 {
    font-size: 2.25rem;
    line-height: 2.5rem;
}

.fs-14 {
    font-size: 0.875rem;
    line-height: 1.25rem
}

.ls-tight {
    letter-spacing: -0.025em;
}

/****** GENERAL *****/
.form-group i {
    position: absolute;
    top: 44%;
    right: 4%;
}

.form-group small {
    bottom: 0;
    left: 3%;
}

.control-form {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057; 
    background-clip: padding-box;    
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.control-form:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}


