*  {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

/****** COLORS *****/
.text-dark-grey {
    color: #111827;
}

.text-light-grey {
    color: #374151;
}

.font-medium {
    font-weight: 500;
}


.form-group i {
    position: absolute;
    top: 44%;
    right: 4%;
}

.form-group small {
    bottom: 0;
    left: 3%;
}

.icon-success {
    color: green;
}

.icon-error {
    color: red;
    
}
